

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.o
*.out

.vscode/launch.json
.vscode/tasks.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-bedd9ff8a49fb3287eca.json
build/.cmake/api/v1/reply/cmakeFiles-v1-f2543c0c375f04ac2fc0.json
build/.cmake/api/v1/reply/codemodel-v2-192a3ee625062e6b3e6b.json
build/.cmake/api/v1/reply/index-2022-11-26T10-43-16-0516.json
build/.cmake/api/v1/reply/target-SIV4-Debug-38f9b5dccf32a7257296.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/SIV4.dir/build.make
build/CMakeFiles/SIV4.dir/cmake_clean.cmake
build/CMakeFiles/SIV4.dir/CXX.includecache
build/CMakeFiles/SIV4.dir/depend.internal
build/CMakeFiles/SIV4.dir/depend.make
build/CMakeFiles/SIV4.dir/DependInfo.cmake
build/CMakeFiles/SIV4.dir/flags.make
build/CMakeFiles/SIV4.dir/link.txt
build/CMakeFiles/SIV4.dir/progress.make
build/.cmake/api/v1/reply/cmakeFiles-v1-d3008c3d6987361aa6ec.json
build/.cmake/api/v1/reply/index-2022-11-26T13-25-17-0233.json
build/.cmake/api/v1/reply/index-2022-12-17T07-33-29-0551.json
build/.cmake/api/v1/reply/index-2022-12-17T07-59-38-0325.json
.vscode/settings.json
build/.cmake/api/v1/reply/index-2022-12-17T09-02-45-0271.json
